## Joining parking ticket data to CentreLines for future mapping

In [92]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
import zipfile

In [97]:
dfs = gpd.read_file('data/centreline/centreline-with-connections.geojson')
dfs["x"] = dfs.centroid.x
dfs["y"] = dfs.centroid.y
dfs = dfs[["CENTRELINE_ID","LINEAR_NAME_FULL","LINEAR_NAME_FULL_LEGAL","LO_NUM_L","HI_NUM_L","LO_NUM_R","HI_NUM_R","PARITY_L","PARITY_R","connecting_streets","x","y"]]
dfs["LINEAR_NAME_FULL"] = dfs["LINEAR_NAME_FULL"].str.upper()
dfs["LINEAR_NAME_FULL_LEGAL"] = dfs["LINEAR_NAME_FULL_LEGAL"].str.upper()
dfs["connecting_streets"] = dfs["connecting_streets"].str.upper()
dfs["city_hall"] = ((abs(dfs["x"] + 79.3839347))**2 + ((abs(dfs["y"] - 43.6534729)))**2)**0.5
# dfs = pd.DataFrame(dfs.loc[(dfs["PARITY_L"] != "N") | (dfs["PARITY_R"] != "N")])

/tmp/ipykernel_16296/4213466026.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  dfs["x"] = dfs.centroid.x
/tmp/ipykernel_16296/4213466026.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  dfs["y"] = dfs.centroid.y

In [98]:
dfs

,CENTRELINE_ID,LINEAR_NAME_FULL,LINEAR_NAME_FULL_LEGAL,LO_NUM_L,HI_NUM_L,LO_NUM_R,HI_NUM_R,PARITY_L,PARITY_R,connecting_streets,x,y,city_hall
0,914600,MORRISON ST,MORRISON STREET,NaN,NaN,NaN,NaN,N,N,"TWELFTH ST, ELEVENTH ST",-79.509311,43.597322,0.137376
1,914601,TWELFTH ST,TWELFTH STREET,66.0,92.0,65.0,89.0,E,O,"MORRISON ST, JACKSON RD",-79.510109,43.597769,0.137923
2,7862398,THIRTEENTH ST,THIRTEENTH STREET,66.0,96.0,65.0,91.0,E,O,"MORRISON ST, JACKSON RD, COLONEL SAM SMITH PAR...",-79.511105,43.597538,0.138928
3,914587,LAKE SHORE BLVD W,LAKE SHORE BOULEVARD WEST,NaN,NaN,3180.0,3180.0,N,E,"NINETEENTH ST, TWENTIETH ST",-79.518596,43.597824,0.145707
4,6735911,LAKE SHORE BLVD W,LAKE SHORE BOULEVARD WEST,3197.0,3197.0,3190.0,3190.0,O,E,"TWENTIETH ST, TWENTY FIRST ST",-79.519693,43.597572,0.146817
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70856,30006687,QUEEN'S DR,QUEEN'S DRIVE,600.0,610.0,599.0,613.0,E,O,"QUEEN'S GREENBELT TRL, GRACEFIELD AVE",-79.486042,43.711412,0.117400
70857,910919,RATHBURN RD,RATHBURN ROAD,NaN,NaN,NaN,NaN,N,N,"427 C N RATHBURN E RAMP, THE EAST MALL",-79.564389,43.654928,0.180460
70858,8106186,RATHBURN RD,RATHBURN ROAD,367.0,397.0,372.0,400.0,O,E,"COTTRELLE GT, THE EAST MALL",-79.562863,43.655287,0.178938
70859,910937,THE EAST MALL,THE EAST MALL,596.0,596.0,NaN,NaN,E,N,"RATHBURN RD, PLANNING BOUNDARY",-79.564117,43.654711,0.180186
70860,910916,THE EAST MALL,THE EAST MALL,NaN,NaN,603.0,603.0,N,O,"RATHBURN RD, ROBINGLADE DR",-79.564488,43.655375,0.180564

In [115]:
# function for input address and return CENTRELINE_ID

def linear_geocode(location2,location3,location4):
        
    # if the address starts with a number:
    try:
        number = int(location2.split(' ', 1)[0])
        street = location2.split(' ', 1)[1]
        dfsf = dfs.loc[dfs['LINEAR_NAME_FULL'] == street]
        dfsf = dfsf.loc[((dfsf["LO_NUM_L"] <= number) & (dfsf["HI_NUM_L"] >= number)) | ((dfsf["LO_NUM_R"] <= number) & (dfsf["HI_NUM_R"] >= number))]
        
        if len(dfsf) == 1:
            centreline = int(dfsf["CENTRELINE_ID"])
            return centreline
            
        elif len(dfsf) > 1:

            maybe = int(dfsf.head(1)["CENTRELINE_ID"])
            
            if number % 2 == 0:
                dfsf = (dfsf.loc[(
                    ((dfsf["PARITY_L"] != "O") & ((dfsf["LO_NUM_L"] <= number) & (dfsf["HI_NUM_L"] >= number))) |
                    ((dfsf["PARITY_R"] != "O") & ((dfsf["LO_NUM_R"] <= number) & (dfsf["HI_NUM_R"] >= number)))
                )])
            if number % 2 == 1:
                dfsf = (dfsf.loc[(
                    ((dfsf["PARITY_L"] != "E") & ((dfsf["LO_NUM_L"] <= number) & (dfsf["HI_NUM_L"] >= number))) |
                    ((dfsf["PARITY_R"] != "E") & ((dfsf["LO_NUM_R"] <= number) & (dfsf["HI_NUM_R"] >= number)))
                )])
                
            if len(dfsf) == 1:
                centreline = int(dfsf["CENTRELINE_ID"])
            elif len(dfsf) > 1:
                dfsf = dfsf[dfsf.city_hall == dfsf.city_hall.min()]
                centreline = int(dfsf.head(1)["CENTRELINE_ID"])
            else:
                centrerline = maybe
            
            return centreline
                
        else:
            
            return 0
        
    # if the address is an intersection
    except:
        
        try:
            dfsf = dfs.loc[dfs['LINEAR_NAME_FULL'] == location2]
            dfsf = dfsf[dfsf['connecting_streets'].str.contains(location4)]

            if len(dfsf) == 1:
                centreline = int(dfsf["CENTRELINE_ID"])
                return centreline

            elif len(dfsf) > 1:

                direction = location3[0]
                if direction == "S":
                    dfsf = dfsf[dfsf.y == dfsf.y.min()]
                    centreline = int(dfsf["CENTRELINE_ID"])
                elif direction == "N":
                    dfsf = dfsf[dfsf.y == dfsf.y.max()]
                    centreline = int(dfsf["CENTRELINE_ID"])
                elif direction == "E":
                    dfsf = dfsf[dfsf.x == dfsf.x.max()]
                    centreline = int(dfsf["CENTRELINE_ID"])
                elif direction == "W":
                    dfsf = dfsf[dfsf.x == dfsf.x.min()]
                    centreline = int(dfsf["CENTRELINE_ID"])
                else:
                    dfsf = dfsf[dfsf.city_hall == dfsf.city_hall.min()]
                    centreline = int(dfsf.head(1)["CENTRELINE_ID"])
                return centreline

            else:
                return -1
        except:
            return -2
    
linear_geocode("170 JOHN ST","","")
linear_geocode("SHAW ST", "S/O", "COLLEGE ST")
linear_geocode("ARMOURY ST","W/O", "CENTRE AVE")

8087219

In [103]:
years = [2011]

for year in years:
    dfp = []
    zf = zipfile.ZipFile("data/parking-tickets/parking-tickets-" + str(year) + ".zip")
    csvs = zf.namelist()
    for csv in csvs:
        dfp.append(pd.read_csv(zf.open(csv), engine="python", on_bad_lines='skip'))
        print(csv)
    df = pd.concat(dfp)
    del dfp
    df['CENTRELINE_ID'] = df.apply(lambda x: linear_geocode(x['location2'], x['location3'], x['location4']), axis=1)
    df.to_csv("data/tickets-with-centreline/twc-2015.csv", index=False)

Parking_Tags_Data_2015_1.csv
Parking_Tags_Data_2015_2.csv
Parking_Tags_Data_2015_3.csv

In [107]:
df

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***87325,20150101,15,PARK-WITHIN 3M OF FIRE HYDRANT,100,1.0,OPP,11 CENTRE AVE,NaN,NaN,ON
1,***87326,20150101,15,PARK-WITHIN 3M OF FIRE HYDRANT,100,1.0,OPP,11 CENTRE AVE,NaN,NaN,ON
2,***09493,20150101,3,PARK ON PRIVATE PROPERTY,30,2.0,NR,2425 JANE ST,NaN,NaN,ON
3,***67358,20150101,5,PARK-SIGNED HWY-PROHIBIT DY/TM,40,3.0,N/S,DUNDAS SQ,E/O,YONGE ST,ON
4,***87327,20150101,5,PARK-SIGNED HWY-PROHIBIT DY/TM,40,3.0,N/S,ARMOURY ST,W/O,CENTRE AVE,ON
...,...,...,...,...,...,...,...,...,...,...,...
668488,***16116,20151231,3,PARK ON PRIVATE PROPERTY,30,2355.0,NaN,621 KING ST W,NaN,NaN,ON
668489,***03848,20151231,29,PARK PROHIBITED TIME NO PERMIT,30,2355.0,NR,33 MAITLAND ST,NaN,NaN,ON
668490,***03849,20151231,29,PARK PROHIBITED TIME NO PERMIT,30,2359.0,NR,65 GLOUCESTER ST,NaN,NaN,ON
668491,***01046,20151231,347,PARK IN A FIRE ROUTE,250,NaN,NaN,2743 VICTORIA PARK AVE,NaN,NaN,ON
668492,***66839,20151231,3,PARK ON PRIVATE PROPERTY,30,NaN,NaN,1340 DANFORTH RD,NaN,NaN,ON

In [125]:
p,f

(966, 34)

/tmp/ipykernel_16296/3369371498.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dft['CENTRELINE_ID'] = dft.apply(lambda x: linear_geocode(x['location2'], x['location3'], x['location4']), axis=1)

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province,CENTRELINE_ID
0,***87325,20150101,15,PARK-WITHIN 3M OF FIRE HYDRANT,100,1.0,OPP,11 CENTRE AVE,NaN,NaN,ON,7792167
1,***87326,20150101,15,PARK-WITHIN 3M OF FIRE HYDRANT,100,1.0,OPP,11 CENTRE AVE,NaN,NaN,ON,7792167
2,***09493,20150101,3,PARK ON PRIVATE PROPERTY,30,2.0,NR,2425 JANE ST,NaN,NaN,ON,443736
3,***67358,20150101,5,PARK-SIGNED HWY-PROHIBIT DY/TM,40,3.0,N/S,DUNDAS SQ,E/O,YONGE ST,ON,7641766
4,***87327,20150101,5,PARK-SIGNED HWY-PROHIBIT DY/TM,40,3.0,N/S,ARMOURY ST,W/O,CENTRE AVE,ON,8087219
...,...,...,...,...,...,...,...,...,...,...,...,...
995,***53265,20150101,28,PARK-N.YORK 2AM-6AM DEC1-MAR31,40,319.0,NR,19 LONDON GREEN CRT,NaN,NaN,ON,30007050
996,***68773,20150101,29,PARK PROHIBITED TIME NO PERMIT,30,319.0,NR,45 BENLAMOND AVE,NaN,NaN,MB,1140026
997,***08859,20150101,3,PARK ON PRIVATE PROPERTY,30,320.0,NaN,2 MEADOWGLEN PL,NaN,NaN,ON,30122285
998,***46201,20150101,28,PARK-N.YORK 2AM-6AM DEC1-MAR31,40,320.0,OPP,40 FOUNTAINHEAD RD,NaN,NaN,ON,439860
999,***46202,20150101,28,PARK-N.YORK 2AM-6AM DEC1-MAR31,40,320.0,NR,35 FOUNTAINHEAD RD,NaN,NaN,ON,439860

In [117]:
p = 0
f = 0
for index, row in df.head(1000).iterrows():
    cl = linear_geocode(row['location2'],row["location3"],row["location4"])
    if cl <= 0:
        f += 1
        print(row["location2"],row["location3"],row["location4"])
    else:
        p += 1

10 YUKON PLACE nan nan
ALBION AVE nan nan
14 LONDON GREEN CT nan nan
14 LONDON GREE CT nan nan
14 LONDON GREEN CT nan nan
51 TICHESTER RD nan nan
265 MANITOBA DRIVE nan nan
10 YUKON PLACE nan nan
170 PRINCES BLVD nan nan
115 PRINCES BLVD nan nan
10 YUKON PLACE nan nan
10 YUKON PLACE nan nan
10 YUKON PLACE nan nan
10 YUKON PLACE nan nan
10 YUKON PLACE nan nan
10 YUKON PLACE nan nan
135 ERSKINE AVE nan nan
BELVEDERE BLVD W/O WINONA DR
10 YUKON PLACE nan nan
10 YUKON PLACE nan nan
374 WOLVERLEIGH BLVD nan nan
10 YUKON PLACE nan nan
SHAW ST nan COLLEGE ST
10 YUKON PLACE nan nan
43  MOBERLY AVE nan nan
16 TORRESDALE AVE nan nan
100 DERRYDOWN RD nan nan
99 FAIRMOUNT CRES nan nan
66 BURNETT AVE nan nan
60 HEMLOCK AVE nan nan
nan nan nan
ROANOKE RD nan nan
1 CARR ST nan nan
1 CARR ST nan nan